.torrent-item{
  padding: 0 10px;
}

.torrent-item.odd{
  background-color: #edf3fe;
}

.torrent-item p {
  margin: 0;
  line-height: 1em;
}

.torrent-item .name{
  color: #222;
}

.torrent-item .details, .torrent-item .status{
  color: #666;
}

.torrent-item.sel .details, .torrent-item.sel .status, .torrent-item.sel .name{
  color: #fff;
}
